@import 'compass';
@import 'modules/variables.scss';
@import 'modules/mixin.scss';

*{
  box-sizing: border-box;
}

a:link, a:active, a:hover, a:visited{

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

.clearfix:after{
  display: block;
  content: '';
  clear: both;
}

.deco-text{
  color: $blue;
  font-family: $text-font;
  font-weight: bold;
  @include fontsize(24);
}

.bold-text{
  font-weight: bold;
}

.normal-text{
  @include fontsize(16);
}

#tutor-marker{
  background: linear-gradient(transparent 65%, #FCC345 65%);
}

#student-marker{
  background: linear-gradient(transparent 65%, #06C8B6 65%);
}

#smacam-title-image{
  top: 16px;
  left: 16px;
  position: fixed;
  z-index: 30;
  
  @media #{$pc-size}{
    width: 150px;
  }
  
  @media #{$less-than-tb}{
    width: 100px;
  }
}

//header
.header{
  position: relative;
  background-image: url('../images/header-image.png');
  @include bg-config;
  
  @media #{$sp-size}{
    height: 240px;
    
    .pc-view{
      display: none;
    }
  }
  
  @media #{$more-than-tb}{
    height: 400px;
    
    .sp-view{
      display: none;
    }
  }
  
  &__buttons{
    @media #{$pc-size}{
      display: flex;
      float: right;
      padding: 24px;
      color: #000;
      font-family: $text-font;
      font-weight: 500;
      
      li{
        display: block;
        margin: 0 16px;
      }
    }
    
    @media #{$less-than-tb}{
      display: none;
    }
    
  }

  &__titlebox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    @media #{$sp-size}{
      width: 55%;
      height: 35%;
    }
    
    @media #{$more-than-tb}{
      width: 55%;
      height: 40%;
    }
    
    &__inner{
      position: relative;
      height: 100%;
    }
  }
  
  .textbox{
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    font-family: $ja_font;
    text-align: center;
    
    @media #{$sp-size}{
      @include fontsize(16);
    }
    
    @media #{$more-than-tb}{
      @include fontsize(24);
    }
    
    span{
      margin: 0 16px;
      @media #{$sp-size}{
        line-height: 47px;
      }
      
      @media #{$more-than-tb}{
        line-height: 88px;
      }
    }
  }
  
  .topleft-box{
    height: 55%;
    line-height: 200%;
    
    @media #{$sp-size}{
      width: 60%;
    }
    
    @media #{$more-than-tb}{
      width: 55%;
    }
    
  }
  
  .rightbottom-box{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 55%;
    line-height: 200%;
    
    @media #{$sp-size}{
      width: 60%;
    }
    
    @media #{$more-than-tb}{
      width: 55%;
    }
  }
  
  .center-mark{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 5px;
    width: 20px;
    height: 20px;
    
    span{
      display: block;
      width: 20px;
      height: 1px;
      background-color: #fff;
    }
    
    #falling-right{
  
      transform: rotate(-45deg);
    }
    
    #rising-right{
      transform: rotate(45deg);
    }
  }
}

//main
.main-wrapper{
  @media #{$sp-size}{
    padding: 24px 16px;
  }
  
  @media #{$tb-size}{
    padding: 56px;
  }
  
  @media #{$pc-size}{
    padding: 56px;
    max-width: 1024px;
    margin: auto;
  }
}

.section{
  padding-bottom: 48px;
  
  &__title{
    text-align: center;
    margin-bottom: 24px;
    color: #000;
    
    @media #{$sp-size}{
      @include fontsize(18);
    }
    
    @media #{$more-than-tb}{
      @include fontsize(24);
    }
  }
}

//about
.about{
  &__title{
    text-align: center;
    @media #{$sp-size}{
      margin-bottom: 24px;
    }
    @media #{$more-than-tb}{
      margin-bottom: 48px;
    }
    
    img{
      height: 24px;
      transform: rotate(15deg);
    }
  
  }
  
  &__textbox{
    @include fontsize(16);
    line-height: 24px;
    font-family: $ja_font;
    
    p{
      text-align: center;
    }
  }
}

//tutor, students
.section{
  position: relative;
  padding: 40px 16px;
  background-color: #FFFBF2;
  font-family: $text_font;
  color: $text-color;
  
  @media #{$more-than-tb}{
    margin: 80px 0;
    
    &__flexbox{
      display: flex;
      justify-content: center;
      
      &__left{
        width: 50%;
        margin-right: 24px;
        padding-left: 24px;
      }
      
      &__right{
        width: 50%;
        
        img{
          width: 100%;
        }
      }
    }
  }
  
  @media #{$sp-size}{
    margin: 56px 0;
    
    .section__flexbox__left, .section__title, .section__link{
      position: relative;
      z-index: 2;
    }
    .section__flexbox__right{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      img{
        width: 100%;
        @include opacity(.2);
        
      }
    }
  }
  
  .bubble{
    position: absolute;
    padding: 0 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;

    &__inner{
      position: relative;
      height: 100%;
      
      &:before{
        content: "";
        position: absolute;
        bottom: -15px;
        border: 10px solid transparent;
        z-index: 0;
        
      }
    }
    
    @media #{$sp-size}{
      z-index: 2;
      top: -30px;
      width: 120px;
      height: 50px;
      line-height: 50px;
      @include border-radius(25px);
      
      &__inner{
        &:before{
          bottom: -15px;
          border: 10px solid transparent;
        }
      }
    }
    
    @media #{$more-than-tb}{
      top: -80px;
      margin-top: 24px;
      width: 30%;
      height: 100px;
      line-height: 100px;
      @include border-radius(50px);
      @include fontsize(24);
      
      &__inner{
        &:before{
          bottom: -15px;
          border: 10px solid transparent;
        }
      }
    }
  }
  
  #tutor-bubble{
    left: -8px;
    background-color: #FCC345;
    
    .bubble__inner:before{
      left: 40px;
      @include transform(rotate(60deg));
      
      @media #{$sp-size}{
        border-left: 20px solid #FCC345;
      }
      
      @media #{$more-than-tb}{
        border-left: 30px solid #FCC345;
      }
    }
  }
  
  #student-bubble{
    right: -8px;
    background-color: #06C8B6;
    
    .bubble__inner:before{
      right: 20px;
      @include transform(rotate(-60deg));
      
      @media #{$sp-size}{
        border-right: 20px solid #06C8B6;
      }
      
      @media #{$more-than-tb}{
        border-right: 30px solid #06C8B6;
      }
    }
  }
  
  ul.section__lists{
    margin-bottom: 40px;
    @include fontsize(18);
    
    li{
      margin: 16px 0;
      
      i{
        display: inline-block;
        color: #00A5FF;
        margin-right: 4px;
      }
    }
  }
  
  &__link{
    text-align: right;
    
    @media #{$more-than-tb}{
      margin-top: 32px;
    }
    
    a{
      color: #202B65;
    }
  }
}

//footer
.footer{
  background-color: #2F5480;
  color: #fff;
  text-align: center;
  font-family: $contents-font;
  
  &__text{
    @include fontsize(12);
  }
  
  &__iconlists{
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    li:hover{
      text-decoration: underline;
    }
  }
  
  @media #{$sp-size}{
    height: 120px;
    
    &__iconlists{
      width: 80%;
      margin-bottom: 24px;
      padding: 16px 0;
      text-align: center;
      
      li i{
        margin-right: 4px;
      }
    }
  }
  @media #{$more-than-tb}{
    height: 160px;
    
    &__iconlists{
      width: 60%;
      max-width: 480px;
      margin-bottom: 40px;
      padding: 32px 0;
      text-align: center;
      @include fontsize(18);
      
      li i{
        margin-right: 8px;
      }
    }
  }
  
  
}

//tutor.html
.income{
  &__wrapper{
    @media #{$more-than-tb}{
      display: flex;
      justify-content: space-between;
    }
    
    &__block{
      @media #{$more-than-tb}{
        width: 49%;
      }
      
      margin-bottom: 24px;
      
      &__imagebox{
        width: 100%;
        height: auto;
      }
      
      &__textbox{
        padding: 16px 0;
        color: #000;
        line-height: 20px;
        letter-spacing: 1px;
        @include fontsize(12);
        
        .total{
          margin-left: 4px;
          @include fontsize(18);
        }
      }
    }
  }
}

.section__block__textbox{
  @include fontsize(16);
}

.entry{
  color: #484848;
  
  &__wrapper{
    margin: 0 auto;
    
    @media #{$pc-size}{
      width: 60%; 
    }
    
    @media #{$less-than-tb}{
      width: 100%;
    }
  }
  
  &__title{
    margin-bottom: 24px;
    @include fontsize(18);
    text-align: center;
    color: #000000;
  }
  
  &__block{
    background-color: #fff;
    &__subtitle{
      padding: 8px 16px;
      background-color: #2F5480;
      color: #fff;
      font-weight: bold;
    }
    
    &__text{
      padding: 16px;
      line-height: 24px;
    }
  }
  
  &__button{
    width: 240px;
    padding: 24px 16px;
    margin: 32px auto 0;
    background-color: #FCC345;
    color: #fff;
    text-align: center;
    @include border-radius(5px);
  }
  
  .downicon-block{
    margin: 8px 0;
    text-align: center;
    color: #2F5480;
    @include fontsize(24);
  }
  
}

//humburger-menu
#checkbox{
  display: none;
}

@media #{$pc-size}{
  .humburger-menu{
    display: none;
  }
}

@media #{$less-than-tb}{
  
  .humburger-icon{
    position: fixed;
    top: 24px;
    right: 16px;
    z-index: 30;
    
    .bar{
      display: block;
      background-color: #182C98;
      width: 30px;
      height: 3px;
      margin: 5px auto;
    }
    
    .top, .bottom{
      @include transform(rotateZ(0deg));
      @include transition(transform 1s linear, background-color 1s ease-in);
    }
    
    .middle{
      @include transition(width 1s linear);
    }
  }
  
  .humburger-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    padding-bottom: 0;
    background-color: #FCC345;
    z-index: 20;
    color: #fff;
    font-family: $text-font;
    font-weight: 600;
    @include opacity(0);
    @include transition(width 1s linear, height 1s linear, opacity 1s linear);
    
    &__lists{
      @include opacity(0);
      
      @media #{$sp-size}{
        margin: 80px 0 0 16px;
      }
      
      @media #{$tb-size}{
        margin: 32px 48px 0;
        text-align: center;
      }
      
      li{
        margin-bottom: 16px;
      }
    }
  }
  
  .wrapper{
    position: relative;
  }
  
  .header, .main, .footer{
    z-index: 1;
  }
}

//humburger-menu表示時のアニメーション
input[type="checkbox"]:checked ~ .humburger-menu{
  @include transition(width 1s linear, height 1s linear, opacity 1s linear);
  width: 100vw;
  height: 200px;
  @include opacity(1);
}

input[type="checkbox"]:checked ~ label .top{
  background-color: #fff;
  @include transform(rotateZ(45deg));
  @include transition(transform 1s linear, background-color 1s ease-in);
}
input[type="checkbox"]:checked ~ label .bottom{
  background-color: #fff;
  @include transform(translateY(-15px) rotateZ(-45deg));
  @include transition(transform 1s linear, background-color 1s ease-in);
}

input[type="checkbox"]:checked ~ label .middle{
  width: 0;
  @include transition(width 0.5s linear);
}

input[type="checkbox"]:checked ~ .humburger-menu ul{
  @include opacity(1);
  @include transition(opacity 1s ease-in);
}