@import 'compass';
@import 'modules/variables.scss';
@import 'modules/mixin.scss';

*{
  box-sizing: border-box;
}

a:link, a:active, a:hover, a:visited{

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

.clearfix:after{
  display: block;
  content: '';
  clear: both;
}

.deco-text{
  color: $blue;
  font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-weight: bold;
  @include fontsize(24);
}

.bold-text{
  font-weight: bold;
}

.normal-text{
  @include fontsize(16);
}

#tutor-marker{
  background: linear-gradient(transparent 65%, #FCC345 65%);
}

#student-marker{
  background: linear-gradient(transparent 65%, #06C8B6 65%);
}

//header
.header{
  position: relative;
  background-image: url('../images/header-image.png');
  @include bg-config;
  
  @media #{$sp-size}{
    height: 240px;
    
    .pc-view{
      display: none;
    }
  }
  
  @media #{$more-than-tb}{
    height: 400px;
    
    .sp-view{
      display: none;
    }
  }
  
  &__buttons{
    display: flex;
    float: right;
    padding: 16px;
    color: #000;
    
    li{
      display: block;
      margin: 0 8px;
      padding: 8px 16px;
      
      @media #{$more-than-tb}{
        border: 1px #000 solid;
        @include border-radius(4px);
      }
    }
    
    #humburger-icon{
      color: #fff;
      @include fontsize(28);
    }
    
  }
  
  
  
  &__titlebox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    @media #{$sp-size}{
      width: 70%;
      height: 45%;
    }
    
    @media #{$more-than-tb}{
      width: 55%;
      height: 50%;
    }
    
    &__inner{
      position: relative;
      height: 100%;
    }
  }
  
  .textbox{
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    font-family: $ja_font;
    text-align: center;
    
    @media #{$sp-size}{
      @include fontsize(18);
    }
    
    @media #{$more-than-tb}{
      @include fontsize(32);
    }
    
    span{
      margin: 0 16px;
      @media #{$sp-size}{
        line-height: 66px;
      }
      
      @media #{$more-than-tb}{
        line-height: 110px;
      }
    }
  }
  
  .topleft-box{
    width: 55%;
    height: 55%;
    line-height: 200%;
    
    @media #{$sp-size}{
      width: 70%;
    }
    
    @media #{$more-than-tb}{
      width: 55%;
    }
    
  }
  
  .rightbottom-box{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 55%;
    line-height: 200%;
    
    @media #{$sp-size}{
      width: 70%;
    }
    
    @media #{$more-than-tb}{
      width: 55%;
    }
  }
  
  .center-mark{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 5px;
    width: 20px;
    height: 20px;
    
    span{
      display: block;
      width: 20px;
      height: 1px;
      background-color: #fff;
    }
    
    #falling-right{
  
      transform: rotate(-45deg);
    }
    
    #rising-right{
      transform: rotate(45deg);
    }
  }
}

//main
.main-wrapper{
  @media #{$sp-size}{
    padding: 24px 16px;
  }
  
  @media #{$tb-size}{
    padding: 56px;
  }
  
  @media #{$pc-size}{
    padding: 56px;
    max-width: 1024px;
    margin: auto;
  }
}

.section{
  padding-bottom: 48px;
  
  &__title{
    text-align: center;
    margin-bottom: 24px;
    color: #000;
    
    @media #{$sp-size}{
      @include fontsize(18);
    }
    
    @media #{$more-than-tb}{
      @include fontsize(24);
    }
  }
}

//about
.about{
  &__title{
    text-align: center;
    @media #{$sp-size}{
      margin-bottom: 24px;
    }
    @media #{$more-than-tb}{
      margin-bottom: 48px;
    }
    
    img{
      height: 24px;
      transform: rotate(15deg);
    }
  
  }
  
  &__textbox{
    @include fontsize(16);
    line-height: 24px;
    font-family: $ja_font;
    
    p{
      text-align: center;
    }
  }
}

//tutor, students
.section{
  position: relative;
  padding: 40px 16px;
  background-color: #FFFBF2;
  font-family: $contents_font;
  color: $text-color;
  
  @media #{$more-than-tb}{
    margin: 80px 0;
    
    &__flexbox{
      display: flex;
      justify-content: center;
      
      &__left{
        width: 50%;
        margin-right: 24px;
        padding-left: 24px;
      }
      
      &__right{
        width: 50%;
        
        img{
          width: 100%;
        }
      }
    }
  }
  
  @media #{$sp-size}{
    margin: 56px 0;
    
    .section__flexbox__left, .section__title, .section__link{
      position: relative;
      z-index: 2;
    }
    .section__flexbox__right{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      img{
        width: 100%;
        @include opacity(.2);
        
      }
    }
  }
  
  .bubble{
    position: absolute;
    padding: 0 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;

    &__inner{
      position: relative;
      height: 100%;
      
      &:before{
        content: "";
        position: absolute;
        bottom: -15px;
        border: 10px solid transparent;
        z-index: 0;
        
      }
    }
    
    @media #{$sp-size}{
      z-index: 2;
      top: -30px;
      width: 120px;
      height: 50px;
      line-height: 50px;
      @include border-radius(25px);
      
      &__inner{
        &:before{
          bottom: -15px;
          border: 10px solid transparent;
        }
      }
    }
    
    @media #{$more-than-tb}{
      top: -80px;
      margin-top: 24px;
      width: 30%;
      height: 100px;
      line-height: 100px;
      @include border-radius(50px);
      @include fontsize(24);
      
      &__inner{
        &:before{
          bottom: -15px;
          border: 10px solid transparent;
        }
      }
    }
  }
  
  #tutor-bubble{
    left: -8px;
    background-color: #FCC345;
    
    .bubble__inner:before{
      left: 40px;
      @include transform(rotate(60deg));
      
      @media #{$sp-size}{
        border-left: 20px solid #FCC345;
      }
      
      @media #{$more-than-tb}{
        border-left: 30px solid #FCC345;
      }
    }
  }
  
  #student-bubble{
    right: -8px;
    background-color: #06C8B6;
    
    .bubble__inner:before{
      right: 20px;
      @include transform(rotate(-60deg));
      
      @media #{$sp-size}{
        border-right: 20px solid #06C8B6;
      }
      
      @media #{$more-than-tb}{
        border-right: 30px solid #06C8B6;
      }
    }
  }
  
  ul.section__lists{
    margin-bottom: 40px;
    @include fontsize(18);
    
    li{
      margin: 16px 0;
      
      i{
        display: inline-block;
        color: #00A5FF;
        margin-right: 4px;
      }
    }
  }
  
  &__link{
    text-align: right;
    
    @media #{$more-than-tb}{
      margin-top: 32px;
    }
    
    a{
      color: #202B65;
    }
  }
}

//footer
.footer{
  background-color: #2F5480;
  color: #fff;
  text-align: center;
  font-family: $contents-font;
  
  &__text{
    @include fontsize(12);
  }
  
  &__iconlists{
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  @media #{$sp-size}{
    height: 120px;
    
    &__iconlists{
      width: 80%;
      margin-bottom: 24px;
      padding: 16px 0;
      text-align: center;
      
      li i{
        margin-right: 4px;
      }
    }
  }
  @media #{$more-than-tb}{
    height: 160px;
    
    &__iconlists{
      width: 60%;
      max-width: 480px;
      margin-bottom: 40px;
      padding: 32px 0;
      text-align: center;
      @include fontsize(18);
      
      li i{
        margin-right: 8px;
      }
    }
  }
  
  
}

//tutor.html
.income{
  &__wrapper{
    @media #{$more-than-tb}{
      display: flex;
      justify-content: space-between;
    }
    
    &__block{
      @media #{$more-than-tb}{
        width: 49%;
      }
      
      margin-bottom: 24px;
      
      &__imagebox{
        width: 100%;
        height: auto;
      }
      
      &__textbox{
        padding: 16px 0;
        color: #000;
        line-height: 20px;
        letter-spacing: 1px;
        @include fontsize(12);
        
        .total{
          margin-left: 4px;
          @include fontsize(18);
        }
      }
    }
  }
}

.register{
  
  &__button{
    text-align: center;
    
    a{
      padding: 16px 24px;
      background-color: #FCC345;
      color: #fff;
      text-decoration: none;
      @include border-radius(5px);
    }
    
  }
}