@charset "UTF-8";
* {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

.deco-text {
  color: #182C98;
  font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem; }

.bold-text {
  font-weight: bold; }

.normal-text {
  font-size: 16px;
  font-size: 1rem; }

#tutor-marker {
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, #fcc345 65%); }

#student-marker {
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, #06c8b6 65%); }

.header {
  position: relative;
  background-image: url("../images/header-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 560px) {
    .header {
      height: 240px; }
      .header .pc-view {
        display: none; } }
  @media (min-width: 561px) {
    .header {
      height: 400px; }
      .header .sp-view {
        display: none; } }
  .header__buttons {
    display: flex;
    float: right;
    padding: 16px;
    color: #000; }
    .header__buttons li {
      display: block;
      margin: 0 8px;
      padding: 8px 16px; }
      @media (min-width: 561px) {
        .header__buttons li {
          border: 1px #000 solid;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px; } }
    .header__buttons #humburger-icon {
      color: #fff;
      font-size: 28px;
      font-size: 1.75rem; }
  .header__titlebox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
    @media (max-width: 560px) {
      .header__titlebox {
        width: 70%;
        height: 45%; } }
    @media (min-width: 561px) {
      .header__titlebox {
        width: 55%;
        height: 50%; } }
    .header__titlebox__inner {
      position: relative;
      height: 100%; }
  .header .textbox {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif;
    text-align: center; }
    @media (max-width: 560px) {
      .header .textbox {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 561px) {
      .header .textbox {
        font-size: 32px;
        font-size: 2rem; } }
    .header .textbox span {
      margin: 0 16px; }
      @media (max-width: 560px) {
        .header .textbox span {
          line-height: 66px; } }
      @media (min-width: 561px) {
        .header .textbox span {
          line-height: 110px; } }
  .header .topleft-box {
    width: 55%;
    height: 55%;
    line-height: 200%; }
    @media (max-width: 560px) {
      .header .topleft-box {
        width: 70%; } }
    @media (min-width: 561px) {
      .header .topleft-box {
        width: 55%; } }
  .header .rightbottom-box {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 55%;
    line-height: 200%; }
    @media (max-width: 560px) {
      .header .rightbottom-box {
        width: 70%; } }
    @media (min-width: 561px) {
      .header .rightbottom-box {
        width: 55%; } }
  .header .center-mark {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 5px;
    width: 20px;
    height: 20px; }
    .header .center-mark span {
      display: block;
      width: 20px;
      height: 1px;
      background-color: #fff; }
    .header .center-mark #falling-right {
      transform: rotate(-45deg); }
    .header .center-mark #rising-right {
      transform: rotate(45deg); }

@media (max-width: 560px) {
  .main-wrapper {
    padding: 24px 16px; } }
@media (min-width: 561px) and (max-width: 960px) {
  .main-wrapper {
    padding: 56px; } }
@media (min-width: 961px) {
  .main-wrapper {
    padding: 56px;
    max-width: 1024px;
    margin: auto; } }

.section {
  padding-bottom: 48px; }
  .section__title {
    text-align: center;
    margin-bottom: 24px;
    color: #000; }
    @media (max-width: 560px) {
      .section__title {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 561px) {
      .section__title {
        font-size: 24px;
        font-size: 1.5rem; } }

.about__title {
  text-align: center; }
  @media (max-width: 560px) {
    .about__title {
      margin-bottom: 24px; } }
  @media (min-width: 561px) {
    .about__title {
      margin-bottom: 48px; } }
  .about__title img {
    height: 24px;
    transform: rotate(15deg); }
.about__textbox {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif; }
  .about__textbox p {
    text-align: center; }

.section {
  position: relative;
  padding: 40px 16px;
  background-color: #FFFBF2;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  color: #0f2950; }
  @media (min-width: 561px) {
    .section {
      margin: 80px 0; }
      .section__flexbox {
        display: flex;
        justify-content: center; }
        .section__flexbox__left {
          width: 50%;
          margin-right: 24px;
          padding-left: 24px; }
        .section__flexbox__right {
          width: 50%; }
          .section__flexbox__right img {
            width: 100%; } }
  @media (max-width: 560px) {
    .section {
      margin: 56px 0; }
      .section .section__flexbox__left, .section .section__title, .section .section__link {
        position: relative;
        z-index: 2; }
      .section .section__flexbox__right {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1; }
        .section .section__flexbox__right img {
          width: 100%;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
          opacity: 0.2; } }
  .section .bubble {
    position: absolute;
    padding: 0 16px;
    color: #fff;
    font-weight: bold;
    text-align: center; }
    .section .bubble__inner {
      position: relative;
      height: 100%; }
      .section .bubble__inner:before {
        content: "";
        position: absolute;
        bottom: -15px;
        border: 10px solid transparent;
        z-index: 0; }
    @media (max-width: 560px) {
      .section .bubble {
        z-index: 2;
        top: -30px;
        width: 120px;
        height: 50px;
        line-height: 50px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px; }
        .section .bubble__inner:before {
          bottom: -15px;
          border: 10px solid transparent; } }
    @media (min-width: 561px) {
      .section .bubble {
        top: -80px;
        margin-top: 24px;
        width: 30%;
        height: 100px;
        line-height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        font-size: 24px;
        font-size: 1.5rem; }
        .section .bubble__inner:before {
          bottom: -15px;
          border: 10px solid transparent; } }
  .section #tutor-bubble {
    left: -8px;
    background-color: #FCC345; }
    .section #tutor-bubble .bubble__inner:before {
      left: 40px;
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg); }
      @media (max-width: 560px) {
        .section #tutor-bubble .bubble__inner:before {
          border-left: 20px solid #FCC345; } }
      @media (min-width: 561px) {
        .section #tutor-bubble .bubble__inner:before {
          border-left: 30px solid #FCC345; } }
  .section #student-bubble {
    right: -8px;
    background-color: #06C8B6; }
    .section #student-bubble .bubble__inner:before {
      right: 20px;
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg); }
      @media (max-width: 560px) {
        .section #student-bubble .bubble__inner:before {
          border-right: 20px solid #06C8B6; } }
      @media (min-width: 561px) {
        .section #student-bubble .bubble__inner:before {
          border-right: 30px solid #06C8B6; } }
  .section ul.section__lists {
    margin-bottom: 40px;
    font-size: 18px;
    font-size: 1.125rem; }
    .section ul.section__lists li {
      margin: 16px 0; }
      .section ul.section__lists li i {
        display: inline-block;
        color: #00A5FF;
        margin-right: 4px; }
  .section__link {
    text-align: right; }
    @media (min-width: 561px) {
      .section__link {
        margin-top: 32px; } }
    .section__link a {
      color: #202B65; }

.footer {
  background-color: #2F5480;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; }
  .footer__text {
    font-size: 12px;
    font-size: 0.75rem; }
  .footer__iconlists {
    display: flex;
    justify-content: space-between;
    margin: auto; }
    .footer__iconlists li:hover {
      text-decoration: underline; }
  @media (max-width: 560px) {
    .footer {
      height: 120px; }
      .footer__iconlists {
        width: 80%;
        margin-bottom: 24px;
        padding: 16px 0;
        text-align: center; }
        .footer__iconlists li i {
          margin-right: 4px; } }
  @media (min-width: 561px) {
    .footer {
      height: 160px; }
      .footer__iconlists {
        width: 60%;
        max-width: 480px;
        margin-bottom: 40px;
        padding: 32px 0;
        text-align: center;
        font-size: 18px;
        font-size: 1.125rem; }
        .footer__iconlists li i {
          margin-right: 8px; } }

@media (min-width: 561px) {
  .income__wrapper {
    display: flex;
    justify-content: space-between; } }
.income__wrapper__block {
  margin-bottom: 24px; }
  @media (min-width: 561px) {
    .income__wrapper__block {
      width: 49%; } }
  .income__wrapper__block__imagebox {
    width: 100%;
    height: auto; }
  .income__wrapper__block__textbox {
    padding: 16px 0;
    color: #000;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 12px;
    font-size: 0.75rem; }
    .income__wrapper__block__textbox .total {
      margin-left: 4px;
      font-size: 18px;
      font-size: 1.125rem; }

.section__block__textbox {
  font-size: 16px;
  font-size: 1rem; }

.register__button {
  text-align: center; }
  .register__button a {
    padding: 16px 24px;
    background-color: #FCC345;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
