$sp-size: '(max-width: 560px)';
$tb-size: '(min-width: 561px) and (max-width: 960px)';
$pc-size: '(min-width: 961px)';

$more-than-tb: '(min-width: 561px)';
$less-than-tb: '(max-width: 960px)';


//font-color
$blue: #2F5480;

//font
$ja_font: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;