$sp-size: '(max-width: 560px)';
$tb-size: '(min-width: 561px) and (max-width: 960px)';
$pc-size: '(min-width: 961px)';

$more-than-tb: '(min-width: 561px)';
$less-than-tb: '(max-width: 960px)';


//color
$blue: #182C98;
$text-color: #0f2950;

//font
$ja_font: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
$contents_font: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
$text-font: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
$title_en_font: 'Yellowtail', cursive;